
@{
    ViewBag.Title = "Server";
    Layout = "~/Views/Shared/Homepage_LayoutPage.cshtml";
}
<div class="page-header row no-gutters py-4" id="dvTitle">
    <div class="col-12">
        <div class="row">
            <div class="col">
                <h3 class="page-title" id="lblTitleHeader" style="font-size:25px;">Server Monitoring</h3>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="card-body p-0 pb-3 text-center" id="tblverlay">
    <img src="~/Content/gif/loader7.gif" id="imgLoader" />
</div>